# .gitignore

# Common macOS Artifacts
.DS_Store
._*
.Spotlight-V100
.Trashes
.TemporaryItems
.AppleDouble

# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.moved-aside
*.ipa
*.dSYM
*.dSYM.zip
xcuserdata/

# SwiftPM
.build/
.swiftpm/
Packages/
.package.resolved

# Development & Text Editor Artifacts
*.swp
*.swo
*~
.idea/
.vscode/
.cache/
logs/
*.log
.store-shm
.store-wal

# Environment & Config
.env
.env.*
